/* CSS VARIABLES */
:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: ##31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --white: #ffffff;
    --dairy: #fcfcfc;
}

body{
color: var(--slate);
background-color:var(--white);
font-family:"Roboto",sans-serif;
}
/* GENERAL STYLES */
.logo-style {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.inside-logo {
    color: #2e2f42;
}

.link {
    text-decoration: none;
}

.address-style {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.contact-info {
    font-style: normal;
}

:root {
    --white: #ffffff;
    --grey: #2e2f42;
    --light-grey: #434455;
    --light-blue: #4d5ae5;
    --light-blue-focus: #404bbf;
    --dirty-white: #f4f4fd;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--light-blue);
}

.header-logo-studio {
    color: var(--grey);
}

.list {
    list-style: none;
}

nav li a:first-child {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--grey);
}

nav li a:first-child:hover,
nav li a:first-child:focus {
    color: var(--light-blue-focus);
}

.link {
    text-decoration: none;
}

.address {
    font-style: normal;
}

.address a {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light-grey);
}

.address a:hover,
.address a:focus {
    color: var(--light-blue-focus);
}
.hero-section {
    background-color: #2e2f42;}

.hero-title{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    font color: #ffffff;
}

.main-button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
}

.main-button{text color: #ffffff;}

.main-button:hover{
    background-color: #404BBF}
.main-button:focus {
    background-color: #404BBF;
    cursor: pointer;}

.section-two-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--grey);
}

.section-two-content {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light-grey);
}

.section-three {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: var(--grey);
}

.section-four {
    background-color: var(--dirty-white);
}

.section-four-header {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--grey);
}

.section-four ul li {
    background-color: var(--white);
}

.section-four li:first-child {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: var(--grey);
}

.team-member {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.designation {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light-grey);
}

.footer {
    background-color: var(--grey);
}

.footer-content {
    line-height: 1.5;
    color: var(--dirty-white);
    letter-spacing: 0.02em;
}

.footer-logo-studio {
    color: var(--dirty-white);
}

.profile-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--light-blue);
    background-color: var(--dirty-white);
}

.profile-button:hover,
.profile-button:focus {
    color: var(--white);
    background-color: var(--light-blue-focus);
    cursor: pointer;
}

.service {
    text-decoration: none;
}

.service-description {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--grey);
}

.service-type {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light-grey);
}

.firts section {
    background: #2e2f42;
    line-height: 1.07;
    font-size: 16px;
    line-height: 1.5;

}

.list a:hover {
    color: #404bbf;
}

.link:focus {
    color: #404BBF;
}

.list {
    list-style: none;
}

.list-style-none {
    list-style: none;
}

.list li {
    margin-right: 15px;
}

.list a {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--link-text-color);
    text-decoration: none;
}